name: x86_64
on: [push, pull_request]

jobs:
    build:
        name: Dub build apps
        runs-on: 
          ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - name: Install D compiler
              uses: dlang-community/setup-dlang@v1
              with:
                compiler: ldc-latest
            - name: Build zero code
              run: |
                cd appbuild/zero
                dub build -b release-nobounds -a x86_64 --combined --compiler=ldc2
            - name: Build first code
              run: |
                cd appbuild/first
                dub build -b release-nobounds -a x86_64 --combined --compiler=ldc2
            - name: Build second code
              run: |
                cd appbuild/second
                dub build -b release-nobounds -a x86_64 --combined --compiler=ldc2
            - uses: actions/upload-artifact@v3
              with:
                name: build
                path: appbuild/**/*
            - name: Run zero app
              run: /usr/bin/time appbuild/zero/zero 10
            - name: Run first app
              run: /usr/bin/time appbuild/first/first 10
            - name: Run second app
              run: /usr/bin/time appbuild/second/second 10
